@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Indie+Flower|Pacifico|Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Dancing+Script|Indie+Flower|Pacifico|Sedgwick+Ave');

h1 {
   text-align: center;
   font-size: 14pt;
   margin-bottom: 5px;
   border-bottom: 3px white;
   color: blue;
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Sedgwick Ave', cursive;
   font-family: 'Indie Flower', cursive;
   font-family: 'Pacifico', cursive;
   font-family: 'Dancing Script', cursive;
}
p  {
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Sedgwick Ave', cursive;
   font-family: 'Indie Flower', cursive;
   font-family: 'Pacifico', cursive;
   font-size: 12pt;
}
h2 {
   font-family: 'Chakra Petch', sans-serif;
   font-family: 'Sedgwick Ave', cursive;
   font-family: 'Indie Flower', cursive;
   font-family: 'Pacifico', cursive;
   font-family: 'Dancing Script', cursive;
}
ul {font-family: 'Chakra Petch', sans-serif;
   font-family: 'Sedgwick Ave', cursive;
   font-family: 'Indie Flower', cursive;
   font-family: 'Pacifico', cursive;
   font-size: 12pt;
